body .msgForm {
  width: 100%;
  margin: 0 auto;
}

.msgForm {
  position: fixed;
  bottom: 0px;
  height: 20%;
}

.msgForm input {
  margin-left: 30%;
  width: 70%;
  height: 40%;
}

.form-mad {
  /* margin: 20 auto; */
  display: flex;
}

#form {
  box-shadow: 0px 0px 10px 1px #00000073;
  color: #fff;
  border-radius: 1.5rem;
  background-color: rgba(46, 46, 54, 0);
  /* padding: 70px 30px; */
  min-width: 270px;
  align-items: center;
}