.my-container {
  /* margin: 0.75rem; */
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  height: 100%;
  max-height: 100%;
  padding: 0.5rem;
  justify-content: space-between;
}