.sidetabs {
  color: #fff;
  text-align: center;
  background-color: #343a4000;
  box-shadow: 1px 1px 10px 10px #ffffff08;
  border-radius: 1.5rem;
  box-shadow: 0 0 5px 1px rgba(17, 17, 17, 0.486);
  flex: 1;
  height: calc(100vh - calc(var(--header-height)));
  /* max-width: 40%; */
}

@media only screen and (min-width:769px) {
  .sidetabs {
    max-width: 40%;
  }

  .tabs {}
}

@media only screen and (max-width:768px) {
  .sidetabs {
    height: calc(100vh - calc(var(--header-height)));
  }
}

.tabs {
  justify-content: center;
  color: #50515386;
  /* border-bottom: 1px solid #03b06b !important; */
  /* height: calc(100vh - var(--header-height)); */
  /* height: 80vh; */

}

.tab {
  /* overflow-y: auto; */
}

.tabs:hover {
  /* background-color: #2a92fbeb; */
}

.tabs .nav-link.active {
  background-color: #50515300 !important;
  color: #03b06b !important;
  border: 0px solid #03b06b !important;
  border-bottom: 1px #03b06b solid !important;
  box-shadow: inset 0 -3px 0 #03b06b !important;
}

.tabs .nav-link:hover {
  background-color: rgb(10, 181, 96) !important;
  color: #ffffff !important;
  border: 1px solid #03b06b !important;

}

.tabs .nav-link {
  color: #fff;
}


@media only screen and (max-width:766px) {
  .sidetabs {
    width: 100%;
  }
}

.offcanvas-dex {
  color: #fff !important;
  text-align: center;
  background-color: var(--background-color-dex) !important;
  box-shadow: 1px 1px 10px 10px #ffffff08;
  border-radius: 1.5rem;
  box-shadow: 0 0 5px 1px rgba(17, 17, 17, 0.486);
  flex: 1;
}

.main-box {
  overflow: hidden;
  /* height: calc(100vh - calc(var(--header-height))); */
}