.sidebar {
  color: #fff;
  text-align: center;
  display: flex;
  /* z-index: 999; */
  width: 30%;
  background-color: #343a4000;
  margin: 0.5rem;
    margin-bottom: 6rem;
    box-shadow: 1px 1px 10px 10px #ffffff08;
    border-radius: 1.5rem;
    backdrop-filter: blur(100px);
  box-shadow: 0 0 20px 5px rgba(17, 17, 17, 0.486)
}
.pro-sidebar-inner {
  width: 100%;
}
.sidebar :link {
  color: #fff;
}
.pro-sidebar .sidebar {
  width: 30%;
}
.pro-sidebar > .pro-sidebar-inner {
  text-align: center;
  background-color: #343a40;
}