.conversation {
  background-color: #343a4000;
  display: flex;
  height: calc(100vh - calc(var(--header-height)+6rem));
  max-height: inherit;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  flex-direction: column;
  width: 100%;
  text-align: center;
  color: #ffffff;
  border-radius: 1.5rem;
  box-shadow: 0 0 10px 2px hsla(0, 0%, 7%, 0.5);
  flex: 2;
}

.conversation footer {
  position: relative;
  display: flex;
  margin: 0.5rem;
  margin-bottom: 0.5rem;
}

.conversation-header {
  display: flex;
  justify-content: center;
  text-align: center;
  flex: 0.2;
}

.footer {
  position: absolute;
  bottom: 0;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex: 0.5;
  /* margin-top: -1.5rem !important; */
  /* background-color: rgba(0, 0, 0, 0.149); */
  /* box-shadow: 10px 10px 10px #000; */
}

@media only screen and (max-width: 768px) {
  .footer {
    /* margin-top: -1.5rem !important; */
  }

  .conversation {
    max-height: calc(100vh - calc(var(--header-height)+7rem));
  }
}

.footer-button {
  border-radius: 1.5rem !important;
  padding-inline: 1rem !important;
  background-color: #ff4800 !important;
  border-color: none;
  margin: 0.5rem
}

.footer-input {
  flex-direction: column;
  width: 100%;
}

.footer-input input {
  padding-block: 0.5rem;
  margin: 2.5rem;
  border: 1px #fff;
  border-radius: 1.5rem;
  width: 100%;

}

.footer-input {
  margin: 0.25rem;
  border-radius: 1.5rem;
  padding-block: 0.25rem;
  background-color: rgba(0, 0, 0, 0.323);
  color: #fff;
  padding-inline: 0.5rem;
  border-color: #0000;
}

input:focus.footer-input {
  border-color: none;
  outline: none;
  width: 100%;
}

.footer-input input:active {
  border: none;
}

.message .sender {
  display: flex;
  padding-inline: 3rem;
  padding-block: 0.5rem;
  position: relative;
  left: 3rem;
  margin: auto;
  margin-left: 3rem;
}

.sender {
  position: relative;
  display: flex;
  left: 0;
  margin: auto;
  margin-left: 0;
}

.receiver {
  position: relative;
  display: flex;
  right: 0;
  margin: auto;
  margin-left: 0;
}

.message .user-bull {
  position: relative;
  left: 0;
  width: fit-content;
  width: -moz-fit-content;
  max-width: 50%;
  background: linear-gradient(90deg, rgb(0, 226, 139), rgba(0, 171, 250, 0.664));
  /* background-color: rgba(52, 146, 146, 0.63); */
  padding-inline: 1rem;
  padding-block: 0.5rem;
  margin-inline: 0.5rem;
  border-radius: 2rem 2rem 4rem 2rem;

}

.message .message-bull {
  position: relative;
  width: fit-content;
  width: -moz-fit-content;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.507);

  padding-inline: 1rem;
  padding-block: 0.5rem;
  margin-inline: 0.5rem;
}

li.MessageItem {
  list-style: none;
}

.message .member-bull {
  position: relative;

  right: 0px;
  margin: auto;
  margin-right: 0;
  margin-bottom: 1rem;
  background-color: rgb(139, 139, 139);
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 2rem 2rem 2rem 4rem;
  right: 0.5rem
}

#scrollableDiv {
  flex: 4;
}

div#scrollableDiv::-webkit-scrollbar-track-piece {
  scrollbar-width: thin;
  scrollbar-color: rgb(204, 204, 20);
}

div::-webkit-scrollbar {
  width: 11px;
  scrollbar-arrow-color: #ffffff;
  background: rgb(48, 48, 48);
  color: #ffffff;
  border-radius: 1.5rem;
}

div::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 1.5rem;
}