.navbar-brand {
  padding: 18px 20px;
  display: inline-block;
}

.btn-dex:hover {
  background-color: rgb(0, 226, 139);
  color: #fff;
}

.btn-dex {
  padding-inline: 14px;
  margin-right: 1rem;
  color: rgb(0, 226, 139) !important;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid;
  border-color: rgb(0, 226, 139) !important;
}

.Navbar {
  color: white;
  display: flex;
  /* margin: auto; */
  /* margin-top: 2rem; */
  text-align: center;
  align-items: center;
  box-shadow: 0 0 5px 1px hsla(0, 0%, 0%, 0.399);
  border-radius: 1.5rem;
  /* background-color: #11111100 !important; */
  justify-content: space-between !important;
  /* backdrop-filter: blur(5rem); */
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.1);
}

.header-nav {
  /* margin-block: 0.75rem; */
  /* margin-inline: 0.75rem; */
  /* margin: 2rem; */
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.1);
}

.header-content {
  margin-inline: 0.75rem;
}

.show-responsive-elmnts {
  display: none;
}

.header-nav>a {
  color: #fff !important;
}

@media only screen and (max-width:768px) {
  .show-responsive-elmnts {
    display: block;
  }
}

* {
  --height-header: var()
}

.dropdown-toggle-dex:hover {
  background-color: #ccc;
  border-radius: 1.5rem;

}