.conversation {
  background-color: #424a52;
  width: 70%;
  text-align: center;
  color: #ffffff;
}
/* footer {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 70%;
  display: flex;
	flex-direction: column;
} */
.conversation footer {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 70%;
  display: flex;
  flex-direction: column;
}
.footer {
	align-items: center;
	display: flex;
	flex-direction: row;
}
.conversation .footer-button {
}
.footer-input {
	flex-direction: column;
width: 100%;
  height: 90%;
}
.footer-input input{

width: 100%;
}
.footer-input input:active{
	border: none;
}
.message .sender {
  display: flex;
  padding-inline: 3rem;
  padding-block: 0.5rem;
  position: relative;
  left: 3rem;
  margin: auto;
  margin-left: 3rem;
}
.sender {
  position: relative;
  display: flex;
  left: 0;
  margin: auto;
  margin-left: 0;
}
.receiver {
  position: relative;
  display: flex;
  right: 0;
  margin: auto;
  margin-left: 0;
}
.message .my-message-bull {
  position: relative;
  left: 0;
  width: fit-content;
  background-color: rgb(52, 146, 146);
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 2rem;
}
li.MessageItem {
  list-style: none;
}
.message .other-message-bull {
  position: relative;

  right: 0px;
  width: fit-content;
  margin: auto;
  margin-right: 0;
  margin-bottom: 1rem;
  background-color: rgb(140, 151, 151);
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 2rem;
}
