.btn-register {
    background-color: #02b269 !important;
    color: rgb(255, 255, 255) !important;
    font-weight: bold !important;
    padding-inline: 6rem !important;
    padding-block: 0.5rem !important;
}