.my-footer {
  display: inline-flex;
  color: white;
  box-shadow: 0 0 5px 1px rgba(17, 17, 17, 0.486);
  border-radius: 1.5rem;
  justify-items: center;
  justify-content: center;
  align-items: center;
  /* backdrop-filter: blur(5rem); */
}

.menu-items {
  margin: auto;
}