.my-footer {
  display: inline-flex;
  background-color: #27272765 !important;
  color: white;
  bottom: 0;
  position: absolute;
  height: 3rem;
  margin: auto;
  margin-block: 0.5rem;
  margin-inline: 0.5rem;
  box-shadow: 0 0 10px 2px hsla(0, 0%, 0%, 0.5);
  border-radius: 1.5rem;
  justify-items: center;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5rem);
}

.menu-items {
  margin: auto;
}