@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
html,
body,
#app,
#app > div {
  height: 100%;
  overflow: hidden;
 /* background: url("C:\Users\madjid\Pictures\Backs\win11-img21.jpg"), #ffffff; */
 background: rgb(53, 53, 53);
 background-size:cover;
 font-family: Poppins, sans-serif;
 font-weight: 100;
}
/* #root {
  background-color: #444f55;
} */
html {
  background-color: #353434;
}
.App {
  text-align: center;

  justify-content: center;
}

.btn-login:hover {
  background-color: rgb(0, 226, 139);
  color: #fff;
}
.btn-login {
  padding-inline: 14px;
  margin-right: 10px;
  color: rgb(0, 226, 139);
  background-color: rgba(0, 255, 106, 0);
  border: 1px solid;
  border-color: rgb(0, 226, 139);
}
.navbar-brand {
  padding: 18px 20px;
  display: inline-block;
}
body .msgForm {
  width: 100%;
  margin: 0 auto;
}
.msgForm {
  position: fixed;
  bottom: 0px;
  height: 20%;
}
.sidebar {
  color: #fff;
  text-align: center;
  display: flex;
  /* z-index: 999; */
  width: 30%;
  background-color: #343a4000;
  margin: 0.5rem;
    margin-bottom: 6rem;
    box-shadow: 1px 1px 10px 10px #ffffff08;
    border-radius: 1.5rem;
    backdrop-filter: blur(100px);
  box-shadow: 0 0 20px 5px rgba(17, 17, 17, 0.486)
}
.pro-sidebar-inner {
  width: 100%;
}
.sidebar :link {
  color: #fff;
}
.msgForm input {
  margin-left: 30%;
  width: 70%;
  height: 40%;
}
.pro-sidebar .sidebar {
  width: 30%;
}
.pro-sidebar > .pro-sidebar-inner {
  text-align: center;
  background-color: #343a40;
}
.form-mad {
  margin: 20 auto;
  display: flex;
}
#form {
  box-shadow: 10px, 10px, #31363b;
  background-color: #fff;
  padding: 70px 30px;
  width: 50%;
  margin: auto;
  min-width: 270px;
  align-items: center;
  margin-top: 15px;
}
.pro-sidebar {
  width: 30%;
}
.box-flex {
  display: flex;
  height: 89%;
}

.Navbar {
  margin: 0.5rem;
  margin-top: 1rem;
  box-shadow: 0 0 20px 5px hsla(0, 0%, 0%, 0.5);
  border-radius: 1.5rem;
  background-color: #11111100 !important;
  backdrop-filter: blur(5rem);
}
.bg-mydark {
  background-color: #30353a;
}
