@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

html,
body,
#app,
#app>div {
  height: 100%;
  background: var(--background-color-dex);
  background-size: cover;
  font-family: Poppins, sans-serif !important;
}

body>#root {
  height: 100vh;
}

html {
  background-color: var(--background-color-dex);
}

.App {
  text-align: center;

  justify-content: center;
}

.pro-sidebar {
  width: 30%;
}

.box-flex {
  display: flex;
  height: 89%;
}

.bg-mydark {
  background-color: #30353a;
}

:root {
  --header-height: 14vh;
  --background-color-dex: rgb(37, 38, 40);
}

@media only screen and (min-width: 768px) {

  :root {
    --header-height: 14vh;
  }
}