
html, body, #app, #app>div {
  height: 100%;
 
}
#root{
  background-color:  #f5f5f5;
}
html {
  background-color: #f5f5f5;
}
.App {
  
  text-align: center;

  justify-content: center;
}

.btn-login:hover{

  
  background-color : rgb(0, 226, 139);
  color:#fff;

}
.btn-login{
  padding-inline: 14px;
  margin-right : 10px;
  color:rgb(0, 226, 139);;
  background-color : rgba(0, 255, 106, 0);
  border: 1px solid;
  border-color:rgb(0, 226, 139);

  
}
 .navbar-brand {
   padding: 18px 20px;
   display: inline-block;
 }
 body .msgForm{
   width : 100%;
   margin : 0 auto;
  
   
 }
 .msgForm{
   position: fixed;
  bottom: 0px;
  height: 20%;
   

 }
 .sidebar{
   display: flex;
   z-index: 999;
   width: 30%;
 }
 .pro-sidebar-inner{
  width: 100%;
  background-color: #343a40;
 }
.msgForm input{
  margin-left: 30%;
  width : 70%;
  height: 40%;

}
.pro-sidebar .sidebar{
  width : 30%;
 
}
.pro-sidebar > .pro-sidebar-inner{
  text-align: center;
  background-color: #343a40;
}
.form-mad {
  
  
   margin: 20  auto; 
    display: flex;
 
 
}
#form {
  box-shadow: 10px ,10px , #31363b;
  background-color: #fff;
  padding : 70px 30px;
  width : 50%;
  margin:  auto;
  min-width: 270px;
  align-items: center;
  margin-top:15px;
  
}
.pro-sidebar{
  width:30%;
}
.box-flex{
  display:flex;
  height:89%
}
.conversation{
  background-color:  #393f46;
  width:70%;
  text-align: center;
  color: #ffffff;
}
.navbar {

}
.bg-mydark{
  background-color: #30353a;

}
.conversation > .footer{
  position: fixed;
  right: 0;
left: 30%;
  bottom: 0%;
  width:100%;
  height: 5%;
  display: flex;

}
 .footer {
  display: flex;
  position: fixed;
  width: 100%; 
  right: 0;
  bottom: 0
}
.footer-input{
  width: 70%;
}
.footer-input {
  position: fixed;
  display: flex;
  width: 70%;
  right: 0;
  height:90%;
  
}