
html, body, #app, #app>div {
  height: 100%
}


.App {
  
  text-align: center;

  justify-content: center;
}

.btn-login:hover{

  
  background-color : rgb(0, 226, 139);
  color:#fff;

}
.btn-login{
  padding-inline: 14px;
  color:rgb(0, 226, 139);;
  background-color : rgba(0, 255, 106, 0);
  border: 1px solid;
  border-color:rgb(0, 226, 139);

  
}
 .navbar-brand {
   padding: 18px 20px;
   display: inline-block;
 }
 body .msgForm{
   width : 70%;
   margin : 0 auto;
 
   align-items: center;
   justify-content: center;
 }
 .msgForm{
   margin-left : 50%;
   width : 50%;
   right: 0;
 }
 .sidebar{
   display: flex;
   z-index: 999;
   width: 50%;
 }
 .pro-sidebar-inner{
   width:70%;
 }
