@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

html,
body,
#app,
#app>div {
  height: 100%;
  overflow: hidden;
  /* background: url("C:\Users\madjid\Pictures\Backs\win11-img21.jpg"), #ffffff; */
  /* background: url("../public/space.jpg"); */
  background: var(--background-color-dex);
  background-size: cover;
  font-family: Poppins, sans-serif !important;
}

body>#root>div {
  height: 100vh;
  /* backdrop-filter: inverse(1.5rem); */
  /* background-color: #302f2fca; */
}

/* #root {
  background-color: #444f55;
} */
html {
  background-color: #c18e5d;
}

.App {
  text-align: center;

  justify-content: center;
}

.pro-sidebar {
  width: 30%;
}

.box-flex {
  display: flex;
  height: 89%;
}

.bg-mydark {
  background-color: #30353a;
}

:root {
  --header-height: 14vh;
  --background-color-dex: rgb(49, 49, 53);
}

@media only screen and (min-width: 768px) {

  :root {
    --header-height: 14vh;
  }
}